.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    height: 100vh;
}
.head {
    display: flex;
    height: 50PX;
    align-items: center;
    font-size: x-large;
    padding-left: 5px;
    color: #88ee22;
}
.nav {
    padding: 10PX;
}
.navLink, .activeNavLink {
 padding: 5px;
 color: #88ee22;
}
.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding-left: 5px;
    color: #88ee22;
}
.content {
    text-align: -webkit-center;
}
button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #0d000004;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    margin-left: auto;
}